<h3>Change room state:
</h3>
<form id="changeRoomStateForm">
	<fieldset>
		<legend>Change room state form</legend>
		<ol>
			<li>
				<label for="comboState">Room state:</label>
				<select id="comboState">
					<option value="true">Opened</option>
					<option value="false">Closed</option>
				</select>
			</li>
		</ol>
	</fieldset>
</form>
