<h3>
	Close vote item:
</h3>
<form id="closeVoteItemForm">
	<fieldset>
		<legend>Close vote item form</legend>
		<ol>
			<li>
				<label for="txtVoteContent">Mark:</label>
				<input type="text" id="txtVoteItemMark"/>
			</li>
		</ol>
	</fieldset>
</form>