<h3>Submit vote for item:
</h3>
<form id="submitVoteForm">
	<fieldset>
		<legend>Sumbmit vote</legend>
		<ol>
			<li>
				<label for="txtVoteContent">Vote content:</label>
				<textarea id="voteItemContent"></textarea>
			</li>
			<li>
				<label for="txtVoteContent">Mark:</label>
				<input type="text" id="txtVoteItemMark" />
			</li>
		</ol>
	</fieldset>
</form>
